/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  color: blue;
  text-align: center;
}
.info {
  text-align: center;
}
.movies {
  background: #b87dff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.movies li, .movies-search li {
  padding: 10px;
  margin-bottom: 5px;
  background: #98f7bb;
  width: 340px;
  cursor: pointer;
}
.movies li.selected {
  background: #faffc5;
  font-weight: 600;
}
.movie-detail {
  background: #ff8e8e;
  height: 300px;
}
